<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/foundation.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="/javascripts/vendor/modernizr.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <nav class="top-bar" data-topbar role="navigation" style="background-color: rgba(0, 0, 0, .4)">
   

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right" style="background-color: rgba(0, 0, 0, .1)">
       
      <li class="name" style="background-color: rgba(0, 0, 0, .1)">
        <a href="/user/register" style="background-color: rgba(0, 0, 0, .1)">Register</a>
       
           
      </li>
      <li class="name" style="background-color: rgba(0, 0, 0, .1)">
      <a href="/user/login" style="background-color: rgba(0, 0, 0, .1)">Log In</a>
       
           
      </li>
      <li class="name" style="background-color: rgba(0, 0, 0, .1)">
      <a href="/profile" style="background-color: rgba(0, 0, 0, .1)">Profile</a>
       
           
      </li>
    </ul>

    <!-- Left Nav Section -->
     
  </section>
</nav>

    <h1 class="header"><a href="/"> <%= title %></a></h1>

     
    <h3 class="font"><%= subtitle %></h3>

     
    

    <div class="row">
      <form id="confess">
        <div class="large-4 columns">
          <h3 class="right">I have never seen</h3>
        </div>
        <div class="large-4 columns">
          <input type="hidden" name="db_id" id="db_id" value="<%= thisItem._id %>">
          <input type="text" class="input" name="confession" id="confession" value="<%= thisItem.confession %>">
        </div>
        <div class="large-4 columns ui-front">
          <button class="button font confess" value="confess">confess</button>
        </div>
        </form>
    </div>

       <script src="/javascripts/vendor/jquery.js"></script>
       <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
       <script src="/javascripts/foundation.min.js"></script>
       <script>
          $(document).foundation();
       </script>
       <script src="/javascripts/autofill.js"></script>  
       
  </body>
</html>