<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/foundation.css">
    <script src="/javascripts/vendor/modernizr.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1 class="header"><%= title %></h1>
    <h3 class="font"><%= subtitle %></h3>

    <p><a href="/user/login">Log In</a> | <a href="/user/register">Register</a> | <a href="/profile">Profile</a></p>
    
    <div class="confessions">
    <% for (var i = 0; i < confessions.length; i++) { %>
      <% var newSecret = confessions[i]; %>
      <div class="confession row" id="<%= newSecret._id %>">
        <div class="large-8 columns right">
                <h3>I have never seen <%= newSecret.confession %><% if (newSecret.year !== '') { %> (<%= newSecret.year %>)<% }%> </h3>
                <p class="awards"><%= newSecret.awards %></p>
                <label>If you haven't seen this, you can't claim you love film!
                  <input type="submit" class="button font xButton" id="<%= newSecret._id %>" value="X - This is terrible!" name="submit">
                </label>
                <label>Hey, this is no big deal! This movie is overrated anyway!
                  <input type="submit" class="button font oCount" id="<%= newSecret._id %>" value="O - Overrated" name="submit">
                </label>
          </div>
          <div class="large-4 columns">
              <% if (newSecret.poster !== '') { %>
              <img src="<%= newSecret.poster %>" alt="<%= newSecret.confession %>">
              <% } %>
          </div>
      </div>
            <% } %>
    </div>

    
    <script src="/javascripts/vendor/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/javascripts/foundation.min.js"></script>
    <script>
       $(document).foundation();
     </script>
  </body>
</html>
