<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/foundation.css">
    <script src="/javascripts/vendor/modernizr.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1 class="header"><%= title %></h1>
    <h3 class="font"><%= subtitle %></h3>

    <p><a href="/user/login">Log In</a> | <a href="/user/register">Register</a> | <a href="/profile">Profile</a></p>
    
    <div class="confessions">
    <% for (var i = 0; i < confessions.length; i++) { %>
      <% var newSecret = confessions[i]; %>
      <div class="confession row" id="<%= newSecret._id %>">
        <div class="large-8 columns right">
                <h3>I have never seen <%= newSecret.confession %><% if (newSecret.year !== '') { %> (<%= newSecret.year %>)<% }%> </h3>
                <p class="awards"><%= newSecret.awards %></p>
                <div class="row xoContainer">
                  <div class="large-12">
                    <br>
                    <br>
                    <h3>What do you think about this?</h3>
                  </div>
                  <div class="large-6 columns">
                    <button type="submit" class="button font xButton" id="<%= newSecret._id %>" name="submit">X - This is terrible!<br><span class="small">Go watch this immediately!!
                    <br>Total x-count: <%= newSecret.xCount %></span></button>
                  </div>
                  <div class="large-6 columns">
                    <button type="submit" class="button font oButton" id="<%= newSecret._id %>" name="submit">O - Overrated. <br> <span class='small'>Don't even bother with this one.<br>Total o-count: <%= newSecret.oCount %></span></button>
                   
                  </div>
                </div>
          </div>
          <div class="large-4 columns">
              <% if (newSecret.poster !== 'N/A' && newSecret.poster !== "") { %>
              <img src="<%= newSecret.poster %>" alt="<%= newSecret.confession %>">
              <% } %>
          </div>
      </div>
            <% } %>
    </div>

    
    <script src="/javascripts/vendor/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/javascripts/foundation.min.js"></script>
    <script>
       $(document).foundation();
     </script>
    <script src="/javascripts/xoHandler.js"></script>
  </body>
</html>
